<!-- begining Internet -->
<div class="row mt-2 sticky-top">
  <div class="total-mobile align-items-center">
    <p>Internet</p>
    <%# <div class="">
      <i>50% <br>d’incertitude</i>
    </div> %>
    <div class="white-rectangle">
      <p id="totalDivers"></p>
    </div>
    <div id="hideShowDivers">
      <p id="diversplusmoins"> + </p>
    </div>
  </div>
</div>
<!-- fields for divers -->
<div class="divers">
  <div class="container">
    <!-- field streaming -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :streaming, "Streaming(Youtube, Netflix...)" %>
        <%= f.number_field :streaming, id: 'userStreaming', min: 0 %>
      </div>
      <div class="col-2 unit">
        <p>h</p>
      </div>
      <div class="col-2 charge">
        <p>0.25 kg/h</p>
      </div>
      <div class="col-4 white-rectangle">
        <p id="scoreStreaming"></p>
      </div>
    </div>
    <!-- field tweet -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"tweet" %>
        <%= f.number_field :tweet, id: 'userTweet', min: 0 %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>0.00002</p>
      </div>
      <div class="col-4 white-rectangle">
        <p id="scoreTweet"></p>
      </div>
    </div>
    <!-- field mail -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"mail avec pj" %>
        <%= f.number_field :mail, id: 'userMail', min: 0 %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>0.035</p>
      </div>
      <div class="col-4 white-rectangle">
        <p id="scoreMail"></p>
      </div>
    </div>
  </div>
  <!-- end of divers -->
</div>
<!-- fin de liste divers -->
