<!-- begining Internet -->
<div class="row mt-2 sticky-top">
  <div class="category-header">
    <div class="d-flex align-items-center">
      <div><i class="fa-solid fa-mobile-screen me-2"></i>Internet : </div>
      <%# <div class="">
        <i>50% <br>d’incertitude</i>
      </div> %>
      <div class="category-total">
        <div id="totalDivers"></div>
      </div>
    </div>
    <div id="hideShowDivers" class="toggle-icon">
      <div id="diversplusmoins"> + </div>
    </div>
  </div>
</div>
<!-- fields for divers -->
<div class="divers">
  <div class="">
    <!-- field streaming -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :streaming, "Streaming (Youtube, Netflix...)" %>
        <%= f.number_field :streaming, id: 'userStreaming', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>h</p>
      </div>
      <div class="col-2 charge">
        <p>0.25 kg/h</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreStreaming"></p>
      </div>
    </div>
    <!-- field tweet -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"tweet" %>
        <%= f.number_field :tweet, id: 'userTweet', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>0.00002</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreTweet"></p>
      </div>
    </div>
    <!-- field mail -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"mail avec pj" %>
        <%= f.number_field :mail, id: 'userMail', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>0.035</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreMail"></p>
      </div>
    </div>
  </div>
  <!-- end of divers -->
</div>
<!-- fin de liste divers -->
