 <!-- début catégorie autre -->
    <div class="row mt-2 sticky-top">
      <div class="total-mobile align-items-center">
        <p>Achats ponctuels</p>
        <%# <div class="">
          <i>50%<br>d’incertitude</i>
        </div> %>
        <div class="white-rectangle">
          <p id="totalAutre"></p>
        </div>
        <div id="hideShowAutre">
          <p id="autreplusmoins"> + </p>
        </div>
      </div>
    </div>
    <!-- fields for autre -->
    <div class="autre">
      <!-- change class for the good category and do css and js -->
      <div class="container">
        <div class="intro">
          <p>Il s’agit des contenus carbone pour des achats, si vous n’achetez aucun de ces appareils cette année, ne mentionnez rien
          (leur consommation est déjà intégrée dans « logement »). Pour ces achats ponctuels, à imputer sur plusieurs années, le calcul intègre leur fin de vie (en années). Si le vendeur
          vous donne une autre valeur, vous pouvez comparer avec notre base ADEME.</p>
        </div>
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :aspirateur %>
            <%= f.number_field :aspirateur, id: 'userAspirateur', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>52 kg (5 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreAspirateur"></p>
          </div>
        </div>
        <!-- field congelateur 200l -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :"congélateur 200 l" %>
            <%= f.number_field :congelateur, id: 'userCongelateur', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>415 kg (15 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreCongelateur"></p>
          </div>
        </div>
        <!-- field refrigerateur 250l -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :"réfrigérateur 250l " %>
            <%= f.number_field :refrigerateur250l, id: 'userRefrigerateur', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>300 kg (15 ans) </p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreRefrigerateur"></p>
          </div>
        </div>
        <!-- field four electrique -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :"four électrique" %>
            <%= f.number_field :fourelectrique, id: 'userFourelec', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>217 kg (15 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreFourelec"></p>
          </div>
        </div>
        <!-- field lave linge -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :"lave linge" %>
            <%= f.number_field :lavelinge, id: 'userLavelinge', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>305 kg (15 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreLavelinge"></p>
          </div>
        </div>
        <!-- field micro-onde -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :"micro-onde" %>
            <%= f.number_field :microonde, id: 'userMicroonde', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>100 kg (15 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreMicroonde"></p>
          </div>
        </div>
        <!-- field smartphone -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :smartphone, "Smartphone 5''" %>
            <%= f.number_field :smartphone, id: 'userSmartphone',min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>15 kg (5 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreSmartphone"></p>
          </div>
        </div>
        <!-- field ordinateur -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :"ordinateur" %>
            <%= f.number_field :ordinateur, id: 'userOrdinateur', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>150 kg (10 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreOrdinateur"></p>
          </div>
        </div>
        <!-- field vélo -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :velo, "Vélo" %>
            <%= f.number_field :velo, id: 'userVelo', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>100 kg (20 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreVelo"></p>
          </div>
        </div>
        <!-- field vélo éléctrique -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :veloelec, "Vélo électrique" %>
            <%= f.number_field :veloelec, id: 'userVeloelectrique', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>160 kg (10 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreVeloelectrique"></p>
          </div>
        </div>
        <!-- field auto française -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :voiture, "Auto française" %>
            <%= f.number_field :voiture, id: 'userAutofr', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>kg</p>
          </div>
          <div class="col-2 charge">
            <p>5.5 kg/kg (15 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreAutofr"></p>
          </div>
        </div>
        <!-- field auto fr electrique -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :voitureelec, "Auto française électrique", min: 0 %>
            <%= f.number_field :voitureelec, id: 'userAutofrelec' %>
          </div>
          <div class="col-2 unit">
            <p>kg</p>
          </div>
          <div class="col-2 charge">
            <p>7.6 kg/kg (10 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreAutofrelec"></p>
          </div>
        </div>
        <!-- field auto asie -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :voitureasie, "Auto d'Asie" %>
            <%= f.number_field :voitureasie, id: 'userAutoasie', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>kg</p>
          </div>
          <div class="col-2 charge">
            <p>11 kg/kg (15 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreAutoasie"></p>
          </div>
        </div>
        <!-- field auto asie elec-->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :voitureasieelec, "Auto d'Asie électrique" %>
            <%= f.number_field :voitureasieelec, id: 'userAutoasieelec', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>kg</p>
          </div>
          <div class="col-2 charge">
            <p>15 kg/kg (10 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreAutoasieelec"></p>
          </div>
        </div>
        <!-- field voiture elec < 50 kWh-->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :voitureelecmoins50, "Voiture électrique < 50kWh" %>
            <%= f.number_field :voitureelecmoins50, id: 'userVoitureElecMoins', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>11000 kg</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreVoitureElecMoins"></p>
          </div>
        </div>
        <!-- field voiture elec > 50 kWh-->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :voitureelecplus50, "Voiture électrique > 50kWh" %>
            <%= f.number_field :voitureelecplus50, id: 'userVoitureElecPlus', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>14500 kg</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreVoitureElecPlus"></p>
          </div>
        </div>
        <!-- field troti elec-->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :trotinette, "Trotinette éléctrique" %>
            <%= f.number_field :trotinette, id: 'userTrotinette', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>92 kg</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreTrotinette"></p>
          </div>
        </div>
        <!-- field appartement neuf-->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :appartemnentneuf, "Appartement neuf" %>
            <%= f.number_field :appartemnentneuf, id: 'userAppartementneuf', min: 0 %>
          </div>
          <div class="col-2 unit">
            <p>m²</p>
          </div>
          <div class="col-2 charge">
            <p>500 kg/m² (100 ans)</p>
          </div>
          <div class="col-4 white-rectangle">
            <p id="scoreAppartementneuf"></p>
          </div>
        </div>
        <!-- end of category autre -->
      </div>

    </div>
