 <!-- block pour total vetements -->
<div class="row  mt-2 sticky-top">
  <div class="category-header">
    <div class="d-flex align-items-center">
      <div><i class="fa-solid fa-shirt me-2"></i>Vêtements : </div>
      <%# <div class="">
        <i>30% <br>d’incertitude</i>
      </div> %>
      <div class="category-total">
        <div id="totalVetements"></div>
      </div>
    </div>
    <div id="hideShowVetements" class="toggle-icon">
      <div id="vetementplusmoins"> + </div>
    </div>
  </div>
</div>
<div class="vetement">
  <div class="p-3">
  <!-- field jean mondial -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :jeanmonde, "Jeans mondial" %>
            <%= f.number_field :jeanmonde, id: 'userJeanmonde',min: 0, class:"form-control" %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>23 kg</p>
          </div>
          <div class="col-4 sub-category-result">
            <p id="scoreJeanmonde"></p>
          </div>
        </div>
  <!-- field jean fr -->
        <div class="row align-items-center item mt-1">
          <div class=" col-4 field">
            <%= f.label :jeanfr, "Jeans français" %>
            <%= f.number_field :jeanfr, id: 'userJeanfr', min: 0, class:"form-control" %>
          </div>
          <div class="col-2 unit">
            <p>unité</p>
          </div>
          <div class="col-2 charge">
            <p>15 kg</p>
          </div>
          <div class="col-4 sub-category-result">
            <p id="scoreJeanfr"></p>
          </div>
        </div>
    <!-- field chemisecoton -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Chemise coton" %>
        <%= f.number_field :chemisecoton, id: 'userChemisecoton', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>11 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreChemisecoton"></p>
      </div>
    </div>
    <!-- field chemise viscose -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Chemise viscose" %>
        <%= f.number_field :chemiseviscose, id: 'userChemisecviscose', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>10 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreChemisecviscose"></p>
      </div>
    </div>
    <!-- field t shirt coton -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"T-shirt coton" %>
        <%= f.number_field :tshirtcoton, id: 'userTshirtCoton',min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>5 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreTshirtCoton"></p>
      </div>
    </div>
    <!-- field t shirt polyester -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"T-shirt polyester" %>
        <%= f.number_field :tshirtpoly, id: 'userTshirtPolyester',min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>6 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreTshirtPolyester"></p>
      </div>
    </div>
    <!-- field polair -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Polaire" %>
        <%= f.number_field :polaire, id: 'userPolair', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>24 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scorePolair"></p>
      </div>
    </div>
    <!-- field pull acrylique -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Pull acrylique" %>
        <%= f.number_field :pullacrylique, id: 'userPullAcrylique', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>26 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scorePullAcrylique"></p>
      </div>
    </div>
    <!-- field pull en laine -->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Pull en laine" %>
        <%= f.number_field :pullenlaine, id: 'userPullEnLaine', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>53 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scorePullEnLaine"></p>
      </div>
    </div>
    <!-- field sweat-->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Sweat" %>
        <%= f.number_field :sweat, id: 'userSweat', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>27 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreSweat"></p>
      </div>
    </div>
    <!-- field polo-->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Polo" %>
        <%= f.number_field :polo, id: 'userPolo', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>8 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scorePolo"></p>
      </div>
    </div>
    <!-- field robe coton-->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Robe Coton" %>
        <%= f.number_field :robecoton, id: 'userRobeCoton', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>50 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreRobeCoton"></p>
      </div>
    </div>
    <!-- field robe poly-->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Robe Polyester" %>
        <%= f.number_field :robepolyester, id: 'userRobePoly', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>52 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreRobePoly"></p>
      </div>
    </div>
    <!-- field chaussure tissu-->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Chaussure tissu" %>
        <%= f.number_field :chaussuretissu, id: 'userChaussureTissu', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>17 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreChaussureTissu"></p>
      </div>
    </div>
    <!-- field chaussure sport-->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Chaussure sport" %>
        <%= f.number_field :chaussuresport, id: 'userChaussureSport', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>19 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreChaussureSport"></p>
      </div>
    </div>
    <!-- field anorak-->
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"Anorak" %>
        <%= f.number_field :anorak, id: 'userAnorak', min: 0, class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <p>unité</p>
      </div>
      <div class="col-2 charge">
        <p>39 kg</p>
      </div>
      <div class="col-4 sub-category-result">
        <p id="scoreAnorak"></p>
      </div>
    </div>

    <small><i class="fa-solid fa-circle-info me-2"></i>
      Pour ajouter d’autres vêtements, les chercher sur <a href ="https://base-empreinte.ademe.fr/" target="_blank">le site de l’Ademe</a> (créer un compte et son mot de passe), puis ajouter le total sous l’onglet « + Autres »</small>
    <!-- fin du container category alim-->
  </div>
  <!-- end of alim -->
</div>
