 <!-- block pour total vetements -->
<div class="row  mt-2 sticky-top">
  <div class="total-mobile align-items-center">
    <p>Vetements</p>
    <div class="">
      <i>30% <br>d’incertitude</i>
    </div>
    <div class="white-rectangle">
      <p id="totalVetements"></p>
    </div>
    <div id="hideShowVetements">
      <p id="vetementplusmoins"> + </p>
    </div>
  </div>
</div>
<div class="vetement">
  <div class="container">
    <!-- field chemisecoton -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Chemise coton" %>
        <%= f.number_field :chemisecoton, id: 'userChemisecoton' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>11 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreChemisecoton"></p>
      </div>
    </div>
    <!-- field chemise viscose -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Chemise viscose" %>
        <%= f.number_field :chemiseviscose, id: 'userChemisecviscose' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>10 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreChemisecviscose"></p>
      </div>
    </div>
    <!-- field t shirt coton -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"T-shirt coton" %>
        <%= f.number_field :tshirtcoton, id: 'userTshirtCoton' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>5 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreTshirtCoton"></p>
      </div>
    </div>
    <!-- field t shirt polyester -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"T-shirt polyester" %>
        <%= f.number_field :tshirtpoly, id: 'userTshirtPolyester' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>6 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreTshirtPolyester"></p>
      </div>
    </div>
    <!-- field polair -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Polaire" %>
        <%= f.number_field :polaire, id: 'userPolair' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>24 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scorePolair"></p>
      </div>
    </div>
    <!-- field pull acrylique -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Pull acrylique" %>
        <%= f.number_field :pullacrylique, id: 'userPullAcrylique' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>26 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scorePullAcrylique"></p>
      </div>
    </div>
    <!-- field pull en laine -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Pull acrylique" %>
        <%= f.number_field :pullenlaine, id: 'userPullEnLaine' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>53 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scorePullEnLaine"></p>
      </div>
    </div>
    <!-- field sweat-->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Sweat" %>
        <%= f.number_field :sweat, id: 'userSweat' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>27 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreSweat"></p>
      </div>
    </div>
    <!-- field polo-->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Polo" %>
        <%= f.number_field :polo, id: 'userPolo' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>8 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scorePolo"></p>
      </div>
    </div>
    <!-- field robe coton-->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Robe Coton" %>
        <%= f.number_field :robecoton, id: 'userRobeCoton' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>50 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreRobeCoton"></p>
      </div>
    </div>
    <!-- field robe poly-->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Robe Polyester" %>
        <%= f.number_field :robepolyester, id: 'userRobePoly' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>52 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreRobePoly"></p>
      </div>
    </div>
    <!-- field rchaussure tissu-->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Chaussure tissu" %>
        <%= f.number_field :chaussuretissu, id: 'userChaussureTissu' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>17 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreChaussureTissu"></p>
      </div>
    </div>
    <!-- field chaussure sport-->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Chaussure sport" %>
        <%= f.number_field :chaussuresport, id: 'userChaussureSport' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>19 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreChaussureSport"></p>
      </div>
    </div>
    <!-- field anorak-->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Anorak" %>
        <%= f.number_field :anorak, id: 'userAnorak' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>39 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreAnorak"></p>
      </div>
    </div>



    <div class="intro">
      <p>Pour ajouter d’autres vetements ou produits, utiliser l’appli Karbon qui scanne les code-barres pour évaluer l’empreinte
        carbone, saisie sous « ajouter des valeurs »</p>
    </div>
    <!-- fin du container category alim-->
  </div>
  <!-- end of alim -->
</div>
