<!-- block for total voiture -->
<div class="row mt-2 sticky-top">
  <div class="total-mobile align-items-center">
    <p>Voiture&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <div class="white-rectangle">
      <p id="totalVoiture"></p>
    </div>
    <div id="hideShowVoiture">
      <p id="voitureplusmoins"> + </p>
    </div>
  </div>
</div>
<!-- beginning of fields voiture -->
<div class="voiture">
  <div class="container">
    <div class="intro">
      <p>Vous avez le choix de calcul en kilomètres (en précisant votre consommation) ou en litrage complet (les coefficients
        mentionnés sont les kg de CO2 par litre ou unité mentionnée, selon valeurs de l’ADEME)</p>
    </div>
    <div class="conso-voiture mt-1">
      Calcul par nombre de litres ou nombre de kWh
    </div>
    <!-- field essence -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :essence %>
        <%= f.number_field :essence,  id: 'userEssence' %>
      </div>
      <div class="col-xs-2 unit">
        <p>l</p>
      </div>
      <div class="col-xs-2 charge">
        <p>2.8 kg/l</p>
      </div>
      <div class="col-xs-4 white-rectangle" >
        <p id="scoreEssence"></p>
      </div>
    </div>
    <!-- field gazole -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :gazole %>
        <%= f.number_field :gazole,  id: 'userGazole' %>
      </div>
      <div class="col-xs-2 unit">
        <p>l</p>
      </div>
      <div class="col-xs-2 charge">
        <p>3.16 kg/l</p>
      </div>
      <div class="col-xs-4 white-rectangle" >
        <p id="scoreGazole"></p>
      </div>
    </div>
    <!-- field gpl -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :gpl, "GPL" %>
        <%= f.number_field :gpl,  id: 'userGpl' %>
      </div>
      <div class="col-xs-2 unit">
        <p>l</p>
      </div>
      <div class="col-xs-2 charge">
        <p>1.86 kg/l</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreGpl"></p>
      </div>
    </div>
    <!-- field e85  -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :e85 %>
        <%= f.number_field :e85,  id: 'userE85' %>
      </div>
      <div class="col-xs-2 unit">
        <p>l</p>
      </div>
      <div class="col-xs-2 charge">
        <p>1.68 kg/l</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreE85"></p>
      </div>
    </div>
    <!-- field electrique  -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :electrique %>
        <%= f.number_field :electrique,  id: 'userElectrique' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kWh</p>
      </div>
      <div class="col-xs-2 charge">
        <p>0.0571 kg/kWh</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreElectrique"></p>
      </div>
    </div>
    <div class="conso-voiture mt-1">
      Calcul par consommation et nombre de km
    </div>
    <!-- field essencel  -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-2 field text-center"  >
        <p>Essence</p>
        <%= f.label :consommation %>
        <%= f.number_field :lessence, id:'userEssencel'   %>
        <%= f.label :"nombre km" %>
        <%= f.number_field :kmessence, id:'userKmessencel'   %>
      </div>
      <div class="col-xs-2 unit">
        <p>l/100 km</p>
      </div>
      <div class="col-xs-1 charge">
        <p>2.8 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreEssencel"></p>
      </div>
    </div>
    <!-- field gazolel  -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-2 field text-center">
        <p>Gazole</p>
        <%= f.label :consommation %>
        <%= f.number_field :gazolel, id:'userGazolel'   %>
        <%= f.label :"nombre km" %>
        <%= f.number_field :kmgazolel, id:'userKmgazolel'   %>
      </div>
      <div class="col-xs-2 unit">
        <p>l/100 km</p>
      </div>
      <div class="col-xs-1 charge">
        <p>3.16 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreGazolel"></p>
      </div>
    </div>
    <!-- field gpll  -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-2 field text-center">
        <p>GPL</p>
        <%= f.label :consommation %>
        <%= f.number_field :lgpl, id:'userLgpl'   %>
        <%= f.label :"nombre km" %>
        <%= f.number_field :kmgpl, id:'userKmgpl'   %>
      </div>
      <div class="col-xs-2 unit">
        <p>l/100 km</p>
      </div>
      <div class="col-xs-1 charge">
        <p>1.86 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreLgpl"></p>
      </div>
    </div>
    <!-- field e85  -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-2 field text-center">
        <p>E85</p>
        <%= f.label :consommation %>
        <%= f.number_field :le85, id:'userLe85'   %>
        <%= f.label :"nombre km" %>
        <%= f.number_field :kme85, id:'userKme85'   %>
      </div>
      <div class="col-xs-2 unit">
        <p>l/100 km</p>
      </div>
      <div class="col-xs-1 charge">
        <p>1.68 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreLe85"></p>
      </div>
    </div>
    <!-- field electrique  -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-2 field text-center">
        <p>Electrique</p>
        <%= f.label :consommation %>
        <%= f.number_field :lelectrique, id:'userLelectrique'   %>
        <%= f.label :"nombre km" %>
        <%= f.number_field :kmelectrique, id:'userKmelectrique'   %>
      </div>
      <div class="col-xs-2 unit">
        <p>kWh/100</p>
      </div>
      <div class="col-xs-1 charge">
        <p>0.0571 kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreLelectrique"></p>
      </div>
    </div>
  </div>
</div>
