<div class="container">
<h2 class="mt-3">Inscription</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
    :as => :hidden,
                  required: true,
                  autofocus: true,
                  input_html: {  id: 'fieldEmail' } %>
    <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { id: 'usernameField' },
                    label: "Nom d'utilisateur" %>
    <%= f.input :password,
    :as => :hidden,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { value: "azerty" } %>
    <%= f.input :password_confirmation,
    :as => :hidden,
                  required: true,
                  input_html: { value: "azerty" }
                   %>
  </div>

  <div class="form-actions  mb-3">
    <%= f.button :submit, "Inscription", class: 'btn btn-gradient' %>
  </div>
  <% end %>


</div>
<%= javascript_pack_tag 'create_account' %>
