<div class="container">
<h2>Inscription</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
    :as => :hidden,
                  required: true,
                  autofocus: true,
                  input_html: {  id: 'fieldEmail' } %>
    <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { id: 'usernameField' },
                    label: "Nom d'utilisateur" %>
    <%= f.input :password,
    :as => :hidden,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { value: "azerty" },
                  label: 'Mot de passe' %>
    <%= f.input :password_confirmation,
    :as => :hidden,
                  required: true,
                  input_html: { value: "azerty" },
                  label: 'Confirmation du mot de passe' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Inscription" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
<%= javascript_pack_tag 'create_account' %>
