
<div class="container full-height text-center" >
  <div class="row ">
    <div class="col  text-center">
      <h2 class="mt-2">Carbomètre</h2>
      <div class="intro">
        <p>Bienvenue à freiner le chaos climatique !</br>
        Ce calculateur accompagne le mouvement
        pour un <a style="color:whitesmoke; text-decoration: underline" target="blank" href="https://comptecarbone.cc/">www.comptecarbone.cc</a> et ne
        collecte pas de données ni ne transmet
        aucune information à quiconque.</br>
        <% if current_user == nil %>
        Pour reprendre vos calculs d’un mois sur
        l’autre, vous pouvez indiquer un nom ici: <%= link_to "Se connecter", new_user_session_path, class: "btn btn-gradient" %></br>
        Si vous n'avez pas de compte vous pouvez en créer un en cliquant ici (pas d'email requis) : <%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-gradient" %></br>
        <%end %>
        Spécial enfants : demandez à un parent de
        rassembler les factures de consommation
        courante et répondre à 20 questions en
        famille : vous pourrez suivre de mois en mois
        les améliorations. Racontez-nous comment ça
        se passe et le meilleur gagne une récompense
        chaque mois sur <a style="color:whitesmoke; text-decoration: underline" target="blank" href="https://www.comptecarbone.org/jouer">www.comptecarbone.org/jouer</a></br>
        </p>
      </div>
      <div class="mt-3">
        <%= link_to "Nouvelle empreinte familiale", new_footprint_path, class: "btn btn-gradient" %>
      </div>
      <div class="mt-3">
        <%= link_to "Nouvelle empreinte professionnelle",  pages_professional_bilan_path, class: "btn btn-gradient" %>
      </div>
      <div class="mt-3 mb-3">
        <%= link_to "Mes empreintes",  footprints_path, class: "btn btn-gradient" %>
      </div>
      <div>
    <a  style="color:whitesmoke; text-decoration:underlined"href="https://comptecarbone.cc/wp-content/uploads/2024/02/carbonempreinte5.xls">La feuille de calcul est téléchargeable ici </a>
      </div>
    </div>
  </div>
</div>
