<div data-controller="calculate-footprint">
  <!-- total block -->
  <div class="row sticky-top mb-2">
    <div class="footprint-result-wrapper">
      <div>
        <div class="d-flex fw-bold">
          <div class="me-2"><i class="fa-solid fa-circle-check me-2"></i>Total : </div>
          <div id="total"></div>
          <div class="ms-2">kg/an</div>
        </div>
        <div class="d-flex ">
          <div class="me-2"><i class="fa-solid fa-circle-check me-2"></i>Total par personne : </div>
          <div id="total-personne"></div>
          <div class="ms-2">kg/an</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of total block -->

  <div class="mb-2 d-flex align-items-center" >
    <%= f.label :personnes, "Nombre de personnes :" %>
    <%= f.number_field :person, :value => 1, class:"field_titre form-control ms-2", id:'userPerson'  %>
  </div>

  <!-- block for total voiture -->
  <%=render "footprints/block_fields/block_voiture", f: f %>
  <!-- block for autres transports -->
  <%=render "footprints/block_fields/block_autres_transports", f: f %>
  <!-- block for energie (logement en front) -->
  <%=render "footprints/block_fields/block_energie", f: f %>
  <!-- block for alimentaire -->
  <%=render "footprints/block_fields/block_alimentaire", f: f %>
  <!-- block for achats ponctuels ) -->
  <%=render "footprints/block_fields/block_achats_ponctuels", f: f %>
  <!-- block for achats vetements ) -->
  <%=render "footprints/block_fields/block_vetements", f: f %>
  <!-- block for divers ) -->
  <%=render "footprints/block_fields/block_divers", f: f %>
  <!-- block for autres ) -->
  <%=render "footprints/block_fields/block_autres", f: f %>
