<!-- main div containing all cards and fields -->
<div class="container">
  <%= simple_form_for(@footprint) do |f| %>
  <div class="mb-2">
    <h3>Mettre à jour l'empreinte</h3>
    <%= f.label :titre, class:"titre" %>
    <%= f.text_field :title, maxlength: 20, class:"field_titre" %>
    <%= f.label :personnes, class:"titre"%>
    <%= f.number_field :person, class:"field_titre", id:'userPerson'  %>
  </div>
  <!-- total block -->
  <div class="row sticky-top">
    <div class="total-mobile align-items-center ">
      <p>Total</p>
      <div class="white-rectangle">
        <p id="total"></p>
      </div>
      <div class="button-ddl">
      </div>
    </div>
    <div class="total-mobile align-items-center ">
      <p>Total par personne</p>
      <div class="white-rectangle">
        <p id="total-personne"></p>
      </div>
      <div class="button-ddl">
      </div>
    </div>
  </div>
  <!-- end of total block -->
  <!-- block for total voiture -->
  <div class="row mt-2 sticky-top">
    <div class="total-mobile align-items-center">
      <p>Voiture&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <div class="white-rectangle">
        <p id="totalVoiture"></p>
      </div>
      <div id="hideShowVoiture">
        <p id="voitureplusmoins"> + </p>
      </div>
    </div>
  </div>
  <!-- beginning of fields voiture -->
  <div class="voiture">
    <div class="container">
      <!-- field essence -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :essence %>
          <%= f.number_field :essence,  id: 'userEssence' %>
        </div>
        <div class="col-xs-2 unit">
          <p>l</p>
        </div>
        <div class="col-xs-2 charge">
          <p>2.8</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreEssence"></p>
        </div>
      </div>
      <!-- field gazole -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :gazole %>
          <%= f.number_field :gazole,  id: 'userGazole' %>
        </div>
        <div class="col-xs-2 unit">
          <p>l</p>
        </div>
        <div class="col-xs-2 charge">
          <p>3.16</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreGazole"></p>
        </div>
      </div>
      <!-- field gpl -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :GPL %>
          <%= f.number_field :gpl,  id: 'userGpl' %>
        </div>
        <div class="col-xs-2 unit">
          <p>l</p>
        </div>
        <div class="col-xs-2 charge">
          <p>1.86</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreGpl"></p>
        </div>
      </div>
      <!-- field e85  -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :e85 %>
          <%= f.number_field :e85,  id: 'userE85' %>
        </div>
        <div class="col-xs-2 unit">
          <p>l</p>
        </div>
        <div class="col-xs-2 charge">
          <p>1.68</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreE85"></p>
        </div>
      </div>
      <!-- field electrique  -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :electrique %>
          <%= f.number_field :electrique,  id: 'userElectrique' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kWh</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.0571</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreElectrique"></p>
        </div>
      </div>

      <div class="conso-voiture mt-1">
        Calcul par consommation et nombre de km
      </div>

      <!-- field essencel  -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-2 field" align="center">
          <p>Essence</p>
          <%= f.label :consommation %>
          <%= f.number_field :lessence, id:'userEssencel'   %>
          <%= f.label :"nombre km" %>
          <%= f.number_field :kmessence, id:'userKmessencel'   %>
        </div>
        <div class="col-xs-2 unit">
          <p>l/100 km</p>
        </div>
        <div class="col-xs-1 charge">
          <p>2.8</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreEssencel"></p>
        </div>
      </div>

      <!-- field gazolel  -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-2 field" align="center">
          <p>Gazole</p>
          <%= f.label :consommation %>
          <%= f.number_field :gazolel, id:'userGazolel'   %>
          <%= f.label :"nombre km" %>
          <%= f.number_field :kmgazolel, id:'userKmgazolel'   %>
        </div>
        <div class="col-xs-2 unit">
          <p>l/100 km</p>
        </div>
        <div class="col-xs-1 charge">
          <p>3.16</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreGazolel"></p>
        </div>
      </div>

      <!-- field gpll  -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-2 field" align="center">
          <p>GPL</p>
          <%= f.label :consommation %>
          <%= f.number_field :lgpl, id:'userLgpl'   %>
          <%= f.label :"nombre km" %>
          <%= f.number_field :kmgpl, id:'userKmgpl'   %>
        </div>
        <div class="col-xs-2 unit">
          <p>l/100 km</p>
        </div>
        <div class="col-xs-1 charge">
          <p>1.86</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreLgpl"></p>
        </div>
      </div>

      <!-- field e85  -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-2 field" align="center">
          <p>E85</p>
          <%= f.label :consommation %>
          <%= f.number_field :le85, id:'userLe85'   %>
          <%= f.label :"nombre km" %>
          <%= f.number_field :kme85, id:'userKme85'   %>
        </div>
        <div class="col-xs-2 unit">
          <p>l/100 km</p>
        </div>
        <div class="col-xs-1 charge">
          <p>1.68</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreLe85"></p>
        </div>
      </div>

      <!-- field electrique  -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-2 field" align="center">
          <p>Electrique</p>
          <%= f.label :consommation %>
          <%= f.number_field :lelectrique, id:'userLelectrique'   %>
          <%= f.label :"nombre km" %>
          <%= f.number_field :kmelectrique, id:'userKmelectrique'   %>
        </div>
        <div class="col-xs-2 unit">
          <p>l/100 km</p>
        </div>
        <div class="col-xs-1 charge">
          <p>0.0571</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreLelectrique"></p>
        </div>
      </div>


    </div>
  </div>
  <!-- autres transports -->
  <div class="row mt-2 sticky-top">
    <div class="total-mobile align-items-center">
      <p>Transports&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <div class="white-rectangle">
        <p id="totalTransport"></p>
      </div>
      <div id="hideShowTransport">
        <p id="transportplusmoins"> + </p>
      </div>
    </div>
  </div>
  <!-- fields for autres transports -->
  <div class="transport">
    <div class="container">
      <!-- field tgv -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :TGV %>
          <%= f.number_field :tgv, id: 'userTgv' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.00369</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreTgv"></p>
        </div>
      </div>
      <!-- field ter electrique -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"TER electrique" %>
          <%= f.number_field :terelectrique, id: 'userTerelec' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.00891</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreTerelec"></p>
        </div>
      </div>
      <!-- field ter thermique -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"TER thermique" %>
          <%= f.number_field :terthermique, id: 'userTertherm' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.0798</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreTertherm"></p>
        </div>
      </div>
      <!-- field intercite -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :intercite%>
          <%= f.number_field :intercite, id: 'userIntercite' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.0056</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreIntercite"></p>
        </div>
      </div>
      <!-- field metro -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"metro / RER"%>
          <%= f.number_field :metro, id: 'userMetro' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.0057</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreMetro"></p>
        </div>
      </div>
      <!-- field bus -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"bus"%>
          <%= f.number_field :bus, id: 'userBus' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.092167</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreBus"></p>
        </div>
      </div>
      <!-- field avion -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"avion"%>
          <%= f.number_field :avion, id: 'userAvion' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.258</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreAvion"></p>
        </div>
      </div>
      <!-- field avion regional-->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"avion regional"%>
          <%= f.number_field :avionregional, id: 'userAvionregional' %>
        </div>
        <div class="col-xs-2 unit">
          <p>km</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.453</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreAvionregional"></p>
        </div>
      </div>
    </div>
    <!-- fin de liste transport -->
  </div>
  <!-- begining of energie -->
  <div class="row mt-2 sticky-top">
    <div class="total-mobile align-items-center">
      <p>Logement&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <div class="white-rectangle">
        <p id="totalEnergie"></p>
      </div>
      <div id="hideShowEnergie">
        <p id="energieplusmoins"> + </p>
      </div>
    </div>
  </div>
  <!-- fields for energie -->
  <div class="energie">
    <div class="container">
      <!-- field electricite -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :Electricité %>
          <%= f.number_field :electricite, step: :any, id: 'userElectricite' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kWh</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.0571</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreelec"></p>
        </div>
      </div>
      <!-- field gaz kwh -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"gaz kwh" %>
          <%= f.number_field :gazkwh, step: :any, id: 'userGaz' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kWh</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.205</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreGazkwh"></p>
        </div>
      </div>
      <!-- field gaz kwh -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"gaz m³" %>
          <%= f.number_field :gazm, id: 'userGazm' %>
        </div>
        <div class="col-xs-2 unit">
          <p>m³</p>
        </div>
        <div class="col-xs-2 charge">
          <p>2.2</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreGazm"></p>
        </div>
      </div>
      <!-- field fioul -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :fioul %>
          <%= f.number_field :fioul, id: 'userFioul' %>
        </div>
        <div class="col-xs-2 unit">
          <p>l</p>
        </div>
        <div class="col-xs-2 charge">
          <p>3.25</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreFioul"></p>
        </div>
      </div>
      <!-- field granule bois -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"granulés de bois" %>
          <%= f.number_field :granulebois, id: 'userGranulebois' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.111</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreGranulebois"></p>
        </div>
      </div>
      <!-- field buche bois -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"buche de bois" %>
          <%= f.number_field :buchebois, id: 'userBuche' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.114</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreBuchebois"></p>
        </div>
      </div>
      <!-- field eau -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :eau %>
          <%= f.number_field :eau, id: 'userEau' %>
        </div>
        <div class="col-xs-2 unit">
          <p>m³</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.132</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreEau"></p>
        </div>
      </div>
      <!-- field streaming -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"streaming" %>
          <%= f.number_field :streaming, id: 'userStreaming' %>
        </div>
        <div class="col-xs-2 unit">
          <p>100 h</p>
        </div>
        <div class="col-xs-2 charge">
          <p>25</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreStreaming"></p>
        </div>
      </div>
      <!-- field tweet -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"tweet" %>
          <%= f.number_field :tweet, id: 'userTweet' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.00002</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreTweet"></p>
        </div>
      </div>
      <!-- field mail -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"mail avec pj" %>
          <%= f.number_field :mail, id: 'userMail' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.035</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreMail"></p>
        </div>
      </div>
    </div>
    <!-- end of logement energie -->
  </div>
  <!-- fin de liste energie -->
  <!-- block pour total alimentaire -->
  <div class="row  mt-2 sticky-top">
    <div class="total-mobile align-items-center">
      <p>Alimentaire&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <div class="white-rectangle">
        <p id="totalAlimBox"></p>
      </div>
      <div id="hideShowBle">
        <p id="alimplusmoins"> + </p>
      </div>
    </div>
  </div>
  <div class="alim">
    <div class="container">
      <!-- field ble -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :Blé %>
          <%= f.number_field :ble, step: :any, id: 'userBle' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.439</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreble"></p>
        </div>
      </div>
      <!-- field carotte -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :carotte %>
          <%= f.number_field :carotte, id: 'userCarotte' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.0706</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreCarotte"></p>
        </div>
      </div>
      <!-- field riz -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"Riz Thai" %>
          <%= f.number_field :riz, id: 'userRiz' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>3.59</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreRiz"></p>
        </div>
      </div>
      <!-- field patate -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"Patates FR" %>
          <%= f.number_field :patate, id: 'userPommeDeTerre' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.0861</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scorePommeDeTerre"></p>
        </div>
      </div>
      <!-- field salade de saison -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"Salade saison" %>
          <%= f.number_field :saladesaison, id: 'userSaladeSaison' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.326</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreSaladeSaison"></p>
        </div>
      </div>
      <!-- salades hors saison -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"Salade sous serre" %>
          <%= f.number_field :saladess, id: 'userSaladeSs' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>11.05</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreSaladeSs"></p>
        </div>
      </div>
      <!-- tomates fr -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"Tomates FR" %>
          <%= f.number_field :tomatesfr, id: 'userTomates' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.177</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreTomates"></p>
        </div>
      </div>
      <!-- tomates fr sous serre -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"Tomates FR " %>
          <%= f.number_field :tomatesfrss, id: 'userTomatesFRss' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>2.23</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreTomatesFRss"></p>
        </div>
      </div>
      <!-- field boeuf -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"boeuf " %>
          <%= f.number_field :boeuf, id: 'userBoeuf' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>15</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreBoeuf"></p>
        </div>
      </div>
      <!-- field veau -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"veau " %>
          <%= f.number_field :veau, id: 'userVeau' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>6.5</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreVeau"></p>
        </div>
      </div>
      <!-- field lait vache -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"lait de vache " %>
          <%= f.number_field :laitvache, id: 'userLaitvache' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>0.9</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreLaitvache"></p>
        </div>
      </div>
      <!-- field poulet -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"poulet" %>
          <%= f.number_field :poulet, id: 'userPoulet' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>2.14</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scorePoulet"></p>
        </div>
      </div>
      <!-- field oeufs -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"oeufs" %>
          <%= f.number_field :oeufs, id: 'userOeufs' %>
        </div>
        <div class="col-xs-2 unit">
          <p>kg</p>
        </div>
        <div class="col-xs-2 charge">
          <p>1.72</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreOeufs"></p>
        </div>
      </div>
      <!-- fin du container category alim-->
    </div>
    <!-- end of alim -->
  </div>
  <!-- début catégorie autre -->
  <div class="row mt-2 sticky-top">
    <div class="total-mobile align-items-center">
      <p>Autres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <div class="white-rectangle">
        <p id="totalAutre"></p>
      </div>
      <div id="hideShowAutre">
        <p id="autreplusmoins"> + </p>
      </div>
    </div>
  </div>
  <!-- fields for autre -->
  <div class="autre">
    <!-- change class for the good category and do css and js -->
    <div class="container">
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :aspirateur %>
          <%= f.number_field :aspirateur, id: 'userAspirateur' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>52</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreAspirateur"></p>
        </div>
      </div>
      <!-- field congelateur 200l -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"congélateur 200 l" %>
          <%= f.number_field :congelateur, id: 'userCongelateur' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>415</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreCongelateur"></p>
        </div>
      </div>
      <!-- field refrigerateur 250l -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"réfrigérateur 250l " %>
          <%= f.number_field :refrigerateur250l, id: 'userRefrigerateur' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>300</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreRefrigerateur"></p>
        </div>
      </div>
      <!-- field four electrique -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"four électrique" %>
          <%= f.number_field :fourelectrique, id: 'userFourelec' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>217</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreFourelec"></p>
        </div>
      </div>
      <!-- field lave linge -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"lave linge" %>
          <%= f.number_field :lavelinge, id: 'userLavelinge' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>305</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreLavelinge"></p>
        </div>
      </div>
      <!-- field micro-onde -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"micro-onde" %>
          <%= f.number_field :microonde, id: 'userMicroonde' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>100</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreMicroonde"></p>
        </div>
      </div>
      <!-- field smartphone -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"smartphone" %>
          <%= f.number_field :smartphone, id: 'userSmartphone' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>15</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreSmartphone"></p>
        </div>
      </div>
      <!-- field smartphone -->
      <div class="row align-items-center item mt-1">
        <div class=" col-xs-4 field">
          <%= f.label :"ordinateur" %>
          <%= f.number_field :ordinateur, id: 'userOrdinateur' %>
        </div>
        <div class="col-xs-2 unit">
          <p>unité</p>
        </div>
        <div class="col-xs-2 charge">
          <p>150</p>
        </div>
        <div class="col-xs-4 white-rectangle">
          <p id="scoreOrdinateur"></p>
        </div>
      </div>

      <!-- end of category autre -->
    </div>


    </div>
    <div class="row mt-2 sticky-top">
      <div class="total-mobile align-items-center">
        <p>Ajouter valeurs</p>
        <div class="white-rectangle">
          <p id="totalValeur"></p>
        </div>
        <div id="hideShowValeur">
          <p id="valeurplusmoins"> + </p>
        </div>
      </div>
    </div>
    <div class="valeur">
      <!-- change class for the good category and do css and js -->
      <div class="container">
        <div class="row align-items-center item mt-1">
          <div class=" col-xs-4 field">
            <%= f.label :"valeur" %>
            <%= f.number_field :autre, id: 'userValeur1' %>
          </div>
          <div class="col-xs-2 unit">
            <p>kg</p>
          </div>
          <div class="col-xs-2 charge">
            <p></p>
          </div>
          <div class="col-xs-4 white-rectangle">
            <p id="scoreValeur1"></p>
          </div>
        </div>
        <div class="row align-items-center item mt-1">
          <div class=" col-xs-4 field">
            <%= f.label :"valeur 2" %>
            <%= f.number_field :valeur2, id: 'userValeur2' %>
          </div>
          <div class="col-xs-2 unit">
            <p>kg</p>
          </div>
          <div class="col-xs-2 charge">
            <p></p>
          </div>
          <div class="col-xs-4 white-rectangle">
            <p id="scoreValeur2"></p>
          </div>
        </div>


      </div>
    </div>


    <div class="row justify-content-center mt-2">
      <%= f.submit :"Modifier mon empreinte", data: {confirm: "Êtes-vous sûr de vouloir modifier cette empreinte ?"}, class:"btn btn-gradient mb-5" %>
    </div>
    <% end %>
    </div>
    <%= javascript_pack_tag 'hide_fields' %>
    <%= javascript_pack_tag 'calculations' %>

