<h1>Footprints#edit</h1>
<p>Find me in app/views/footprints/edit.html.erb</p>
<%= form_for(@footprint) do |f| %>
  <%= f.label :ble %>
  <%= f.number_field :ble, step: :any %>
  <%= f.label :carotte %>
  <%= f.number_field :carotte, step: :any %>
  <%= f.label :boeuf %>
  <%= f.number_field :boeuf, step: :any %>
  <%= f.submit %>
<% end %>
