<!-- all user footprints, clickable, redirecting show  -->
<div class="container">
  <div class="row justify-content-around">
    <h3>Mes empreintes</h3>
    <%= current_user.username%>
    <% @footprints.each do |footprint| %>
    <% if footprint.user_id == current_user.id %>
    <div class="card mx-2 my-2" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title"><%=link_to footprint.title, footprint_path(footprint) %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Total empreinte <%= footprint.total_score%></h6>
        <p class="card-text">Total voiture <%= footprint.total_voiture%></p>
        <p class="card-text">Total transport <%= footprint.total_autre_transport%></p>
        <p class="card-text">Total logement <%= footprint.total_logement%></p>
        <p class="card-text">Total alimentation <%= footprint.total_alimentation%></p>
        <p class="card-text">Total autres <%= footprint.total_autres%></p>
        <%= link_to" Modifier", edit_footprint_path(footprint) %>
        <%= link_to "Supprimer",
                        footprint_path(footprint),
                        method: :delete,
                        data: { confirm: "Êtes-vous sûrde vouloir supprimer cette empreinte ?" } %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>



