<!-- all user footprints, clickable, redirecting show  -->
<div class="container vh-100">
  <div class="row justify-content-center">
    <h3 class="mt-2">Mes empreintes</h3>
  </div>

  <div class="row justify-content-center">
    <div class="my-1 mx-5" id= "en-tete" >
      <p>Selon l’Accord de Paris 2015, il faut viser la neutralité carbone en 2050 en émettant probablement moins de 15 milliards
      de tonnes de CO2 dans le monde, soit moins de 2000 kg par terrien. Nous sommes à 40 milliards de tonnes actuellement.
      Courbes détaillées sur <a href=https://www.comptecarbone.org/sources-etudes style="color: whitesmoke;text-decoration:underline", target="blank">www.comptecarbone.org</a>.
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <% @footprints.each do |footprint| %>
    <% if footprint.user_id == current_user.id %>
    <div class="card mx-2 my-2" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title titre mt-1"><%=link_to footprint.title, footprint_path(footprint) %></h4>
        <h5 class="card-subtitle mb-2">Total <%= footprint.total_score%> kg <%=link_to "Détails", footprint_path(footprint), class:"btn btn-gradient" %></h5>
        <p class="card-text">Total voiture <%= footprint.total_voiture%> kg</p>
        <p class="card-text">Total transport <%= footprint.total_autre_transport%> kg</p>
        <p class="card-text">Total logement <%= footprint.total_logement%> kg</p>
        <p class="card-text">Total alimentation <%= footprint.total_alimentation%> kg</p>
        <p class="card-text">Total vetements <%= footprint.total_vetements%> kg</p>
        <p class="card-text">Total autres <%= footprint.total_autres%> kg</p>
        <p class="card-text">Total valeurs additionnelles <%= footprint.total_valeur%> kg</p>
        <div class="row text-center">
        <p>Toutes les valeurs proposées ici sont issues des bases de données de l’Ademe qui indiquent quels degrés d’incertitude affectent ces données selon les catégories.
        Contacter <a style="color:#35485e; text-decoration: underline" href="mailto:acces@escape-jobs.fr">acces@escape-jobs.fr</a> pour plus de détails et télécharger la feuille de calcul.</p>
        </div>
        <div class="row justify-content-between">
          <div class="col-6">
            <%= link_to" Modifier", edit_footprint_path(footprint), class:"btn btn-gradient" %>
          </div>
          <div class="col-6">
            <%= link_to "Supprimer",
                            footprint_path(footprint),
                            method: :delete,
                            data: { confirm: "Êtes-vous sûrde vouloir supprimer cette empreinte ?" }, class:"btn btn-gradient"%>
          </div>

        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>


</div>
