<h1>Footprints#new</h1>
<p>Find me in app/views/footprints/new.html.erb</p>
<h1>create a new bilan</h1>
<!-- main div containing all cards and fields -->
<div class="container">
  <!-- first block -->
    <div class="row">
      <div class="total-mobile align-items-center">
        <p>Total</p>
        <div class="white-rectangle">
          total
        </div>
        <div class="button-ddl">
          button ddl
        </div>
      </div>
    </div>
    <!-- end of first block -->
    <!-- block pour total alimentaire -->
    <div class="row  mt-2">
      <div class="total-mobile align-items-center">
        <p>Alimentaire</p>
        <div class="white-rectangle">
          <p>rectangle</p>
        </div>
        <div id="hideShowBle">
          <p id="alimplusmoins"> + </p>
        </div>
      </div>
      <%= simple_form_for(@footprint) do |f| %>
    </div>
  <!-- beginning of fields alim -->
    <div class="alim">
      <div class="container">
        <!-- field ble -->
        <div class="row align-items-center item mt-1">
          <div class=" col-xs-4 field">
            <%= f.label :Blé %>
            <%= f.number_field :ble, step: :any, id: 'userBle' %>
            <!-- change the id for input field and do js -->
          </div>
          <div class="col-xs-2 unit">
            <p>kg</p>
          </div>
          <div class="col-xs-2 charge">
            <p>0.439</p>
          </div>
          <div class="col-xs-4 white-rectangle">
            <p id="scoreble"></p>
            <!-- change the id of score and do js -->
          </div>
        </div>
        <!-- field carotte -->
        <div class="row align-items-center item mt-1">
          <div class=" col-xs-4 field">
            <%= f.label :carotte %>
            <%= f.number_field :carotte, id: 'userCarotte' %>
            <!-- change the id for input field and do js -->
          </div>
          <div class="col-xs-2 unit">
            <p>kg</p>
          </div>
          <div class="col-xs-2 charge">
            <p>0.0706</p>
          </div>
          <div class="col-xs-4 white-rectangle">
            <p id="scoreCarotte"></p>
            <!-- change the id of score and do js -->
          </div>
        </div>
<!-- field riz -->
        <div class="row align-items-center item mt-1">
          <div class=" col-xs-4 field">
            <%= f.label :"Riz Thai" %>
            <%= f.number_field :riz, id: 'userRiz' %>
            <!-- change the id for input field and do js -->
          </div>
          <div class="col-xs-2 unit">
            <p>kg</p>
          </div>
          <div class="col-xs-2 charge">
            <p>3.59</p>
          </div>
          <div class="col-xs-4 white-rectangle">
            <p id="scoreRiz"></p>
            <!-- change the id of score and do js -->
          </div>
        </div>
<!-- field patate -->
        <div class="row align-items-center item mt-1">
          <div class=" col-xs-4 field">
            <%= f.label :"Patates FR" %>
            <%= f.number_field :riz, id: 'userPommeDeTerre' %>
            <!-- change the id for input field and do js -->
          </div>
          <div class="col-xs-2 unit">
            <p>kg</p>
          </div>
          <div class="col-xs-2 charge">
            <p>0.0861</p>
          </div>
          <div class="col-xs-4 white-rectangle">
            <p id="scorePommeDeTerre"></p>
            <!-- change the id of score and do js -->
          </div>
        </div>


      </div>
      <!-- fin du container category -->
      <div>
        <%= f.label :saladesaison %>
        <%= f.number_field :saladesaison, step: :any %>
      </div>
      <div>
        <%= f.label :saladess %>
        <%= f.number_field :saladess, step: :any %>
      </div>
      <div>
        <%= f.label :tomatesfr %>
        <%= f.number_field :tomatesfr, step: :any %>
      </div>
      <div>
        <%= f.label :tomatesfrss %>
        <%= f.number_field :tomatesfrss, step: :any %>
      </div>
      <div>
        <%= f.label :veau %>
        <%= f.number_field :veau, step: :any %>
      </div>
      <div>
        <%= f.label :laitvache %>
        <%= f.number_field :laitvache, step: :any %>
      </div>
      <div>
        <%= f.label :poulet %>
        <%= f.number_field :poulet, step: :any %>
      </div>
      <div>
        <%= f.label :oeufs %>
        <%= f.number_field :oeufs, step: :any %>
      </div>
    </div>
    <!-- end of alim -->
<!-- begining of energie -->
    <div class="row mt-2">
      <div class="total-mobile align-items-center">
        <p>Energie</p>
        <div class="white-rectangle">
          <p>rectangle</p>
        </div>
        <div id="hideShowEnergie">
          <p id="energieplusmoins"> + </p>
        </div>
      </div>
    </div>
    <!-- fields for energie -->
    <div class="energie">
      <!-- change class for the good category and do css and js -->
      <div class="container">
        <div class="row align-items-center item mt-1">
          <div class=" col-xs-4 field">
            <%= f.label :Electricité %>
            <%= f.number_field :electricite, step: :any, id: 'userElectricite' %>
          <!-- change the id for input field and do js -->
          </div>
          <div class="col-xs-2 unit">
            <p>Unit</p>
          </div>
          <div class="col-xs-2 charge">
            <p>14.12</p>
          </div>
          <div class="col-xs-4 white-rectangle">
            <p id="scoreelec"></p>
            <!-- change the id of score and do js -->
          </div>
        </div>
      </div>
<!-- end of field energie -->
      <div>
        <%= f.label :gazkwh %>
        <%= f.number_field :gazkwh, step: :any %>
      </div>
      <div>
        <%= f.label :gazm %>
        <%= f.number_field :gazm, step: :any %>
      </div>
      <div>
        <%= f.label :fioul %>
        <%= f.number_field :fioul, step: :any %>
      </div>
      <div>
        <%= f.label :granulebois %>
        <%= f.number_field :granulebois, step: :any %>
      </div>
      <div>
        <%= f.label :buchebois %>
        <%= f.number_field :buchebois, step: :any %>
      </div>
      <div>
        <%= f.label :eau %>
        <%= f.number_field :eau, step: :any %>
      </div>
    </div>
    <!-- fin de liste energie -->

    <div id="div3">
      <%= f.label :aspirateur %>
      <%= f.number_field :aspirateur, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :congelateur %>
      <%= f.number_field :congelateur, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :refrigerateur250l %>
      <%= f.number_field :refrigerateur250l, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :fourelectrique %>
      <%= f.number_field :fourelectrique, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :lavelinge %>
      <%= f.number_field :lavelinge, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :microonde %>
      <%= f.number_field :microonde, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :smartphone %>
      <%= f.number_field :smartphone, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :ordinateur %>
      <%= f.number_field :ordinateur, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :tgv %>
      <%= f.number_field :tgv, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :terelectrique %>
      <%= f.number_field :terelectrique, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :terthermique %>
      <%= f.number_field :terthermique, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :intercite %>
      <%= f.number_field :intercite, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :metro %>
      <%= f.number_field :metro, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :bus %>
      <%= f.number_field :bus, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :avion %>
      <%= f.number_field :avion, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :avionregional %>
      <%= f.number_field :avionregional, step: :any %>
    </div>
    <%= f.submit %>
  </div>
  <% end %>
<%= javascript_pack_tag 'hide_fields' %>
<%= javascript_pack_tag 'calculations' %>
