<h1>Footprints#new</h1>
<p>Find me in app/views/footprints/new.html.erb</p>
<h1>create a new bilan</h1>
<!-- main div containing all cards and fields -->
<div class="container">
  <!-- first block -->
    <div class="row">
      <div class="total-mobile">
        <p>total align left</p>
        <div>
          total
        </div>
        <div class="button-ddl">
          button ddl
        </div>
      </div>
    </div>
    <!-- end of first block -->
    <!-- block pour total alimentaire -->
    <div class="row mt-2">
      <div class="total-mobile">
        <p>Alimentaire</p>
        <div>
          rectangle blanc total alimentaire
        </div>
        <div>
          <p id="hideShowBle">Click Me to show or hide blé </p>
        </div>
      </div>
      <%= form_for(@footprint) do |f| %>

    </div>
  <!-- all field with id, to select with document query selector to hide, in JS hide_fileds -->
    <div id="div1">
      <%= f.label :ble %>
      <%= f.number_field :ble, step: :any %>
    </div>
    <div id="div2">
      <%= f.label :carotte %>
      <%= f.number_field :carotte, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :riz %>
      <%= f.number_field :riz, step: :any %>
    <div id="div3">
      <%= f.label :patate %>
      <%= f.number_field :patate, step: :any %>
    <div id="div3">
      <%= f.label :saladesaison %>
      <%= f.number_field :saladesaison, step: :any %>
    <div id="div3">
      <%= f.label :saladess %>
      <%= f.number_field :saladess, step: :any %>
    <div id="div3">
      <%= f.label :tomatesfr %>
      <%= f.number_field :tomatesfr, step: :any %>
    <div id="div3">
      <%= f.label :tomatesfrss %>
      <%= f.number_field :tomatesfrss, step: :any %>
    <div id="div3">
      <%= f.label :veau %>
      <%= f.number_field :veau, step: :any %>
    <div id="div3">
      <%= f.label :laitvache %>
      <%= f.number_field :laitvache, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :poulet %>
      <%= f.number_field :poulet, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :oeufs %>
      <%= f.number_field :oeufs, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :electricite %>
      <%= f.number_field :electricite, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :gazkwh %>
      <%= f.number_field :gazkwh, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :gazm %>
      <%= f.number_field :gazm, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :fioul %>
      <%= f.number_field :fioul, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :granulebois %>
      <%= f.number_field :granulebois, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :buchebois %>
      <%= f.number_field :buchebois, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :eau %>
      <%= f.number_field :eau, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :aspirateur %>
      <%= f.number_field :aspirateur, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :congelateur %>
      <%= f.number_field :congelateur, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :refrigerateur250l %>
      <%= f.number_field :refrigerateur250l, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :fourelectrique %>
      <%= f.number_field :fourelectrique, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :lavelinge %>
      <%= f.number_field :lavelinge, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :microonde %>
      <%= f.number_field :microonde, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :smartphone %>
      <%= f.number_field :smartphone, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :ordinateur %>
      <%= f.number_field :ordinateur, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :tgv %>
      <%= f.number_field :tgv, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :terelectrique %>
      <%= f.number_field :terelectrique, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :terthermique %>
      <%= f.number_field :terthermique, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :intercite %>
      <%= f.number_field :intercite, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :metro %>
      <%= f.number_field :metro, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :bus %>
      <%= f.number_field :bus, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :avion %>
      <%= f.number_field :avion, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :avionregional %>
      <%= f.number_field :avionregional, step: :any %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
<%= javascript_pack_tag 'hide_fields' %>
