<h1>Footprints#new</h1>
<p>Find me in app/views/footprints/new.html.erb</p>
<h1>create a new bilan</h1>
<div>
  <p id="hideShowBle">Click Me to show or hide blé </p>
  <%= form_for(@footprint) do |f| %>
  <div id="div1">
      <%= f.label :ble %>
      <%= f.number_field :ble, step: :any %>
    </div>
    <div id="div2">
      <%= f.label :carotte %>
      <%= f.number_field :carotte, step: :any %>
    </div>
    <div id="div3">
      <%= f.label :boeuf %>
      <%= f.number_field :boeuf, step: :any %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
<%= javascript_pack_tag 'hide_fields' %>
