<div class="container">
  <div class="row justify-content-center">
    <%= link_to" Modifier l'empreinte", edit_footprint_path(@footprint), class: "btn btn-gradient" %>
    <%= link_to "Supprimer",
                          footprint_path(@footprint),
                          method: :delete,
                          data: { confirm: "Êtes-vous sûr de vouloir supprimer cette emepreinte ?" },
                          class: "btn btn-gradient" %>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Total : <%= @footprint.total_score %> kg</h3>
      <div class="row ">
        <div class="col-sm">
        <h4>Total Voiture : <%= @footprint.total_voiture%> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Essence <%= (@footprint.essence*2.8) + @footprint.total_essencel%> kg</li>
            <li class="list-group-item"> Gazole <%= (@footprint.gazole*3.16) + @footprint.total_gazolel%> kg</li>
            <li class="list-group-item"> GPL <%= (@footprint.gpl*1.86 ) + @footprint.total_gpll%> kg</li>
            <li class="list-group-item"> E85 <%= (@footprint.e85*1.68) + @footprint.total_e85l%> kg</li>
            <li class="list-group-item"> Electrique <%= (@footprint.electrique*0.0571) + @footprint.total_electriquel%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
        <h4>Total Autres transports : <%= @footprint.total_autre_transport %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> TGV <%= @footprint.tgv*0.00369%> kg</li>
            <li class="list-group-item"> TER Electrique <%= @footprint.terelectrique*0.00891%> kg</li>
            <li class="list-group-item"> TER Thermique <%= @footprint.terthermique*0.0798%> kg</li>
            <li class="list-group-item"> Intercité <%= @footprint.intercite*0.0056%> kg</li>
            <li class="list-group-item"> Metro <%= @footprint.metro*0.0057%> kg</li>
            <li class="list-group-item"> Bus <%= @footprint.bus*0.092166667%> kg</li>
            <li class="list-group-item"> Avion <%= @footprint.avion*0.258%> kg</li>
            <li class="list-group-item"> Avion régional <%= @footprint.avionregional*0.453%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
          <h4>Total Logement : <%= @footprint.total_logement %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Electricité <%= @footprint.electricite*0.071%> kg</li>
            <li class="list-group-item"> Gaz kWh <%= @footprint.gazkwh*0.205%> kg</li>
            <li class="list-group-item"> Gaz m³ <%= @footprint.gazm*2.2%> kg</li>
            <li class="list-group-item"> Fioul <%= @footprint.fioul*3.25%> kg</li>
            <li class="list-group-item"> Granules de bois <%= @footprint.granulebois*0.111%> kg</li>
            <li class="list-group-item"> Bûches de bois <%= @footprint.buchebois*0.114%> kg</li>
            <li class="list-group-item"> Eau <%= @footprint.eau*0.132%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
        <h4>Total Alimentation : <%= @footprint.total_alimentation %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Blé français <%= @footprint.ble*0.439%> kg</li>
            <li class="list-group-item"> Riz Thailandais <%= @footprint.riz*3.59%> kg</li>
            <li class="list-group-item"> Carottes françaises <%= @footprint.carotte*0.0706%> kg</li>
            <li class="list-group-item"> Pommes de terre France <%= @footprint.patate*0.0861%> kg</li>
            <li class="list-group-item"> Salade de saison <%= @footprint.saladesaison*0.326%> kg</li>
            <li class="list-group-item"> Salades <%= @footprint.saladess*11.05%> kg</li>
            <li class="list-group-item"> Tomates France <%= @footprint.tomatesfr*0.177%> kg</li>
            <li class="list-group-item"> Tomates France sous serre  <%= @footprint.tomatesfrss*2.23%> kg</li>
            <li class="list-group-item"> Lait vache  <%= @footprint.laitvache*0.9%> kg</li>
            <li class="list-group-item"> Boeuf  <%= @footprint.boeuf*15%> kg</li>
            <li class="list-group-item"> Veau  <%= @footprint.veau*6.5%> kg</li>
            <li class="list-group-item"> Poulet  <%= @footprint.poulet*2.14%> kg</li>
            <li class="list-group-item"> Oeufs  <%= @footprint.oeufs*1.72%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
        <h4>Total Autres : <%= @footprint.total_autres %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Aspirateur <%= @footprint.aspirateur%> kg</li>
            <li class="list-group-item"> Congélateur 200 l<%= @footprint.congelateur%> kg</li>
            <li class="list-group-item"> Réfrigérateur 250 l <%= @footprint.refrigerateur250l%> kg</li>
            <li class="list-group-item"> Four électrique <%= @footprint.fourelectrique%> kg</li>
            <li class="list-group-item"> Lave linge <%= @footprint.lavelinge%> kg</li>
            <li class="list-group-item"> Micro-onde <%= @footprint.microonde%> kg</li>
            <li class="list-group-item"> Smartphone <%= @footprint.smartphone%> kg</li>
            <li class="list-group-item"> Ordinateur <%= @footprint.ordinateur%> kg</li>
            <li class="list-group-item"> Streaming <%= @footprint.streaming%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
          <h4>Total Autres : <%= @footprint.total_valeur %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Valeur 1 <%= @footprint.autre%> kg</li>
            <li class="list-group-item"> Valeur 2 <%= @footprint.valeur2%> kg</li>
          </ul>
        </div>
      </div>




    </div>
  </div>
  <div class="row mt-2 mb-2" align="center">
    <div class="col-sm justify-content-center">
      <%= link_to" Modifier l'empreinte", edit_footprint_path(@footprint), class:"btn btn-gradient" %>
      <!-- <%= link_to 'Exporter (pdf)', footprint_path(@footprint, :format => :pdf), target: "_blank" %> -->
    </div>
  </div>
</div>
