<div class="container">
  <div class="row justify-content-center">
    <%= link_to" Modifier l'empreinte", edit_footprint_path(@footprint), class: "btn btn-gradient" %>
    <%= link_to "Supprimer",
                          footprint_path(@footprint),
                          method: :delete,
                          data: { confirm: "Êtes-vous sûr de vouloir supprimer cette emepreinte ?" },
                          class: "btn btn-gradient" %>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Total : <%= @footprint.total_score %> kg</h3>
      <h5>Total par personne <%="(#{(@footprint.person).ceil(0)})"%> : <%= @footprint.score_person  %>  kg</h5>
      <div class="row mt2">
        <div class="col-sm">
          <div class="intro">
            <p>En synthèse nous avons comptabilisé les émissions de gaz à effet de serre dont la France est responsable de façon
            collective, par ses services d’État, qu’elle doit également s’engager à réduire pour satisfaire la neutralité carbone. L’ADEME l’évalue en 2020 à <b>1500 kg</b> par personne.</p>
          </div>

        <h4>Voiture : <%= @footprint.total_voiture%> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Essence <%= ((@footprint.essence*2.8) + @footprint.total_essencel).ceil(2)%> kg</li>
            <li class="list-group-item"> Gazole <%= ((@footprint.gazole*3.16) + @footprint.total_gazolel).ceil(2)%> kg</li>
            <li class="list-group-item"> GPL <%= ((@footprint.gpl*1.86 ) + @footprint.total_gpll).ceil(2)%> kg</li>
            <li class="list-group-item"> E85 <%= ((@footprint.e85*1.68) + @footprint.total_e85l).ceil(2)%> kg</li>
            <li class="list-group-item"> Electrique <%= ((@footprint.electrique*0.0571) + @footprint.total_electriquel).ceil(2)%> kg</li>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm">
        <h4>Autres transports : <%= @footprint.total_autre_transport %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> TGV <%= (@footprint.tgv*0.00369).ceil(2)%> kg</li>
            <li class="list-group-item"> TER <%= (@footprint.terelectrique*0.00248).ceil(2)%> kg</li>
            <!-- <li class="list-group-item"> TER Thermique <%= (@footprint.terthermique*0.0798).ceil(2)%> kg</li> -->
            <li class="list-group-item"> Intercité <%= (@footprint.intercite*0.0056).ceil(2)%> kg</li>
            <li class="list-group-item"> Metro <%= (@footprint.metro*0.0057).ceil(2)%> kg</li>
            <li class="list-group-item"> Bus <%= (@footprint.bus*0.092166667).ceil(2)%> kg</li>
            <li class="list-group-item"> Avion long courrier <%= (@footprint.avion*0.258).ceil(2)%> kg</li>
            <li class="list-group-item"> Avion court courrier <%= (@footprint.avionregional*0.453).ceil(2)%> kg</li>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm">
          <h4>Logement : <%= @footprint.total_logement %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Electricité <%= (@footprint.electricite*0.071).ceil(2)%> kg</li>
            <li class="list-group-item"> Gaz kWh <%= (@footprint.gazkwh*0.205).ceil(2)%> kg</li>
            <li class="list-group-item"> Gaz m³ <%= (@footprint.gazm*2.2).ceil(2)%> kg</li>
            <li class="list-group-item"> Fioul <%= (@footprint.fioul*3.25).ceil(2)%> kg</li>
            <li class="list-group-item"> Granules de bois <%= (@footprint.granulebois*0.111).ceil(2)%> kg</li>
            <li class="list-group-item"> Bûches de bois <%= (@footprint.buchebois*0.114).ceil(2)%> kg</li>
            <li class="list-group-item"> Eau <%= (@footprint.eau*0.132).ceil(2)%> kg</li>
            <li class="list-group-item"> Streaming <%= (@footprint.streaming*0.25).ceil(2)%> kg</li>
            <li class="list-group-item"> Tweet <%= (@footprint.tweet*0.00002).ceil(4)%> kg</li>
            <li class="list-group-item"> Mail avec pj <%= (@footprint.mail*0.035).ceil(2)%> kg</li>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm">
        <h4>Alimentation : <%= @footprint.total_alimentation %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Blé France <%= (@footprint.ble*0.439).ceil(2)%> kg</li>
            <li class="list-group-item"> Riz Thailandais <%= (@footprint.riz*3.59).ceil(2)%> kg</li>
            <li class="list-group-item"> Carottes France <%= (@footprint.carotte*0.0706).ceil(2)%> kg</li>
            <li class="list-group-item"> Pommes de terre France <%= (@footprint.patate*0.0861).ceil(2)%> kg</li>
            <li class="list-group-item"> Salade de saison <%= (@footprint.saladesaison*0.326).ceil(2)%> kg</li>
            <li class="list-group-item"> Salades <%=( @footprint.saladess*11.05).ceil(2)%> kg</li>
            <li class="list-group-item"> Tomates France plein champs <%= (@footprint.tomatesfr*0.177).ceil(2)%> kg</li>
            <li class="list-group-item"> Tomates France sous serre  <%= (@footprint.tomatesfrss*2.23).ceil(2)%> kg</li>
            <li class="list-group-item"> Lait vache  <%= (@footprint.laitvache*0.9).ceil(2)%> kg</li>
            <li class="list-group-item"> Boeuf  <%= (@footprint.boeuf*15).ceil(2)%> kg</li>
            <li class="list-group-item"> Veau  <%= (@footprint.veau*6.5).ceil(2)%> kg</li>
            <li class="list-group-item"> Poulet  <%= (@footprint.poulet*2.14).ceil(2)%> kg</li>
            <li class="list-group-item"> Oeufs  <%= (@footprint.oeufs*1.72).ceil(2)%> kg</li>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm">
        <h4>Autres : <%= @footprint.total_autres %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Aspirateur <%= (@footprint.aspirateur*52).ceil(2)%> kg</li>
            <li class="list-group-item"> Congélateur 200 l<%= (@footprint.congelateur*415).ceil(2)%> kg</li>
            <li class="list-group-item"> Réfrigérateur 250 l <%= (@footprint.refrigerateur250l*300).ceil(2)%> kg</li>
            <li class="list-group-item"> Four électrique <%= (@footprint.fourelectrique*217).ceil(2)%> kg</li>
            <li class="list-group-item"> Lave linge <%= (@footprint.lavelinge*315).ceil(2)%> kg</li>
            <li class="list-group-item"> Micro-onde <%= (@footprint.microonde*100).ceil(2)%> kg</li>
            <li class="list-group-item"> Jeans mondial <%= (@footprint.jeanmonde*23).ceil(2)%> kg</li>
            <li class="list-group-item"> Jeans français <%= (@footprint.jeanfr*15).ceil(2)%> kg</li>
            <li class="list-group-item"> Smartphone 5'' <%= (@footprint.smartphone*15).ceil(2)%> kg</li>
            <li class="list-group-item"> Ordinateur <%= (@footprint.ordinateur*150).ceil(2)%> kg</li>
            <li class="list-group-item"> Vélo <%= (@footprint.velo*60).ceil(2)%> kg</li>
            <li class="list-group-item"> Vélo électrique <%= (@footprint.veloelec*160).ceil(2)%> kg</li>
            <li class="list-group-item"> Auto française <%= (@footprint.voiture*5.5).ceil(2)%> kg</li>
            <li class="list-group-item"> Auto française éléctrique <%= (@footprint.voitureelec*7.6).ceil(2)%> kg</li>
            <li class="list-group-item"> Auto d'Asie <%= (@footprint.voitureasie*11).ceil(2)%> kg</li>
            <li class="list-group-item"> Auto d'Asie électrique <%= (@footprint.voitureasie*15).ceil(2)%> kg</li>
            <li class="list-group-item"> Appartement neuf <%= (@footprint.appartemnentneuf*1000).ceil(2)%> kg</li>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm">
          <h4>Valeurs additionnelles : <%= @footprint.total_valeur %> kg</h4>
          <ul class="list-group">
            <li class="list-group-item"> Valeur 1 <%= (@footprint.autre).ceil(2)%> kg</li>
            <li class="list-group-item"> Valeur 2 <%= (@footprint.valeur2).ceil(2)%> kg</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 mb-2" align="center">
    <div class="col-sm justify-content-center">
      <%= link_to" Modifier l'empreinte", edit_footprint_path(@footprint), class:"btn btn-gradient" %>
      <!-- <%= link_to 'Exporter (pdf)', footprint_path(@footprint, :format => :pdf), target: "_blank" %> -->
    </div>
  </div>
  <div class="bottom">
  </div>
</div>
