<!-- <h1>Footprints#show</h1>
<p>Find me in app/views/footprints/show.html.erb</p> -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1><%= current_user.email %></h1>
      <h2>Footprint</h2>
      <!-- add the score in js to display it dynamically -->
      <p>total score mehod model footprint<%= @footprint.total_score %></p>
      <p>blé <%= @footprint.ble %></p>
      <p>carotte <%= @footprint.carotte %></p>
      <p>boeuf <%= @footprint.boeuf %></p>
      raise
      <!-- add the score in js to display it dynamically -->
      <p>total score mehod model footprint<%= @footprint.total_score %></p>
    </div>
  </div>
</div>
