<div class="container">
  <div class="row">
    <%= link_to" Modifier l'empreinte", edit_footprint_path(@footprint), class: "btn btn-primary" %>
    <%= link_to "Delete #{@footprint.title}",
                          footprint_path(@footprint),
                          method: :delete,
                          data: { confirm: "Êtes-vous sûr ?" },
                          class: "btn btn-primary" %>
    <%= link_to" Tous mes bilans", footprints_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>Total : <%= @footprint.total_score %></h2>
      <div class="row ">
        <div class="col-sm">
        <h3>Total Voiture : <%= @footprint.total_voiture %></h3>
          <ul class="list-group">
            <li class="list-group-item"> Essence <%= @footprint.essence%> kg</li>
            <li class="list-group-item"> Gazole <%= @footprint.gazole%> kg</li>
            <li class="list-group-item"> Gpl <%= @footprint.gpl%> kg</li>
            <li class="list-group-item"> E85 <%= @footprint.e85%> kg</li>
            <li class="list-group-item"> Electrique <%= @footprint.electrique%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
        <h3>Total Autres transports : <%= @footprint.total_autre_transport %></h3>
          <ul class="list-group">
            <li class="list-group-item"> TGV <%= @footprint.tgv%> kg</li>
            <li class="list-group-item"> Ter Electrique <%= @footprint.terelectrique%> kg</li>
            <li class="list-group-item"> Ter Thermique <%= @footprint.terthermique%> kg</li>
            <li class="list-group-item"> Intercité <%= @footprint.intercite%> kg</li>
            <li class="list-group-item"> Metro <%= @footprint.metro%> kg</li>
            <li class="list-group-item"> Bus <%= @footprint.bus%> kg</li>
            <li class="list-group-item"> Avion <%= @footprint.avion%> kg</li>
            <li class="list-group-item"> Avion régional <%= @footprint.avionregional%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
          <h3>Total Logement : <%= @footprint.total_logement %></h3>
          <ul class="list-group">
            <li class="list-group-item"> TGV <%= @footprint.electricite%> kg</li>
            <li class="list-group-item"> Ter Electrique <%= @footprint.gazkwh%> kg</li>
            <li class="list-group-item"> Ter Thermique <%= @footprint.gazm%> kg</li>
            <li class="list-group-item"> Intercité <%= @footprint.fioul%> kg</li>
            <li class="list-group-item"> Metro <%= @footprint.granulebois%> kg</li>
            <li class="list-group-item"> Bus <%= @footprint.buchebois%> kg</li>
            <li class="list-group-item"> Avion <%= @footprint.eau%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
        <h3>Total Alimentation : <%= @footprint.total_alimentation %></h3>
          <ul class="list-group">
            <li class="list-group-item"> Blé français <%= @footprint.ble%> kg</li>
            <li class="list-group-item"> Riz Thailandais<%= @footprint.riz%> kg</li>
            <li class="list-group-item"> Carottes françaises <%= @footprint.carotte%> kg</li>
            <li class="list-group-item"> Pommes de terre France <%= @footprint.patate%> kg</li>
            <li class="list-group-item"> Salade de saison <%= @footprint.saladesaison%> kg</li>
            <li class="list-group-item"> Salades <%= @footprint.saladess%> kg</li>
            <li class="list-group-item"> Tomates France <%= @footprint.tomatesfr%> kg</li>
            <li class="list-group-item"> Tomates France sous serre  <%= @footprint.tomatesfrss%> kg</li>
            <li class="list-group-item"> Boeuf  <%= @footprint.boeuf%> kg</li>
            <li class="list-group-item"> Veau  <%= @footprint.veau%> kg</li>
            <li class="list-group-item"> Lait vache  <%= @footprint.laitvache%> kg</li>
            <li class="list-group-item"> Lait poulet  <%= @footprint.poulet%> kg</li>
            <li class="list-group-item"> Lait oeufs  <%= @footprint.oeufs%> kg</li>
          </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm">
        <h3>Total Autres : <%= @footprint.total_autres %></h3>
          <ul class="list-group">
            <li class="list-group-item"> Aspirateur <%= @footprint.aspirateur%> kg</li>
            <li class="list-group-item"> Congélateur 200 l<%= @footprint.congelateur%> kg</li>
            <li class="list-group-item"> Réfrigérateur 250 l <%= @footprint.refrigerateur250l%> kg</li>
            <li class="list-group-item"> Four electrique <%= @footprint.fourelectrique%> kg</li>
            <li class="list-group-item"> Lave linge <%= @footprint.lavelinge%> kg</li>
            <li class="list-group-item"> Micro-onde <%= @footprint.microonde%> kg</li>
            <li class="list-group-item"> Smartphone <%= @footprint.smartphone%> kg</li>
            <li class="list-group-item"> Ordinateur <%= @footprint.ordinateur%> kg</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2 mb-2 ">
    <div class="col-sm justify-content-center">
      <%= link_to" Modifier l'empreinte", edit_footprint_path(@footprint) %>
      <%= link_to 'Create PDF document', footprint_path(@footprint, :format => :pdf), target: "_blank" %>
    </div>
  </div>
</div>








<div>
  <%= link_to" Modifier l'empreinte", edit_footprint_path(@footprint) %>
  <%= link_to "Delete #{@footprint.title}",
                        footprint_path(@footprint),
                        method: :delete,
                        data: { confirm: "Êtes-vous sûr ?" } %>
</div>
